*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: 'Barlow', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(51, 61, 75, 1);
  background-color: #FEFCF7;

}
.visually-hidden{
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}