.footer{
  padding-bottom: 88px;
}
.footer__container{
 padding: 47px 85px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color:rgba(44, 52, 62, 1);
}
.footer__left{
  width: 622px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footer__social-list{
  @include reset-list;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social-item{
 margin-right: 24px;


 &:last-child{
   margin-right: 0px;
 }
}
.footer__site-link{
  display: block;
}
.footer__social-img{
 color: rgba(254, 252, 247, 1);

 &:hover{
   color: rgba(253, 214, 186, 1);
 }
}


@media only screen and (max-width:1310px){
  .footer{
    padding-bottom: 72px;
  }
  .footer__container{
    padding: 54px 0px;
    flex-direction: column;
  }
  .footer__left{
    flex-direction: column;
    margin-bottom: 65px;
  }
  .footer__site-link{
    margin-bottom: 33px;
  }
}

@media only screen and (max-width:719px){
  .footer{
    padding-bottom: 72px;
  }
  .footer__container{
    padding: 54px 0px;
    flex-direction: column;
  }
  .footer__left{
    flex-direction: column;
    margin-bottom: 48px;
  }
  .footer__site-link{
    width: 216px;
    height: 23px;
    margin-bottom: 49px;
  }
}