.how-work{
 max-width: 1045px;
}
.how-work__box{
  max-width: 791px;
  margin-bottom: 67px;
  display: flex;
  justify-content: space-between;
  background-image: url(../../img/line.svg);
  background-repeat: no-repeat;
  background-position: left calc(31px/2) top calc(31px/2);
}
.how-work__box-oval{
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: rgba(254, 252, 247, 1);
  border: 2px solid rgba(14, 135, 132, 1);
}
.how-work__list{
  @include reset-list;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: $black;
}
.how-work__item{
  margin-right: 95px;
  max-width: 285px;
  color: rgba(51, 61, 75, 1);

  &:last-child{
  margin-right: 0px;
  }
}
.how-work__number{
  @include title-style(900,72px,72px);
  margin-bottom: 32px;
  color: $yellow;
}
.how-work__item-title{
  @include title-style(900,32px,36px);
  max-width: 255px;
  margin-bottom: 42px;
}
.how-work__item-desc{
  @include desc-style(400,16px,26px);
}



@media only screen and (max-width:1310px){

}